menu "Betaflight Configuration"

    config BLUETOOTH_ENABLED
        bool "Enable Bluetooth"
        default n
        help
            Does the chip support bluetooth?

    rsource "../components/wifi/Kconfig"
    rsource "../components/device/Kconfig"
    rsource "../components/sensor/Kconfig"
endmenu
