menu "Betaflight Configuration"

    config BLUETOOTH_ENABLED
        bool "Enable Bluetooth"
        default n
        help
            Does the chip support bluetooth?

    rsource "../components/wifilink/Kconfig"
    rsource "../components/io/Kconfig"
endmenu
